*{
    margin: 0;
    padding: 0;
}
.hov{
    background-color: blue;
    width: 200px;
    height: 200px;
    /* transition-delay: 1s;
    transition-duration: 3s;
    transition-property: all;
    transition-timing-function: ease-in; */
    transition: all 3s ease-in 1s;
}
.hov:hover{
    background-color: yellow;
    width: 100px;
}
a:link{
    color: brown;
}
a:visited{
    color: peru;
}
a:active{
    color: red;
}
.hov:active{
    background-color: black;
}
button:active{
    background-color: chartreuse;
}
button:focus{
    background-color: red;
    color: white;
}
.down{
    display: none;
}
.con:focus-within .down{
    display: block;
}
.drop{
    display: none;
}
.btn:focus .drop{
    display: block;
}